.foto-nav{
  height: 50px;
  width: 50px;
}

body{
  padding-top: 80px;
}

#footer{
  position: absolute;
  width: 100%;
}

.conteudo{
  padding: 5% 5%;
}

.pdg{
  padding: 3%;
  color: #fcfcfc;
  margin-bottom: 5%;

  background: url('../images/back-logado.png') no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
}

.pdg h2{
  padding-bottom: 2%;

}

/*.timeline{
  background: url('../images/back-logado.png') no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
}*/
.btn-send {
  background: #E5001C;
  color: #fcfcfc;
  border-radius: 0;
}

.comments{
  display: none;
  padding-top: 5%;
}

.log{
  padding: 80px 0 60px 0;
}
