html{
  margin: 0;
}

.foto-nav{
  height: 50px;
  width: 50px;
}

body{
  padding-top: 80px;
}

#footer{
  width: 100%;
  bottom: 0;
}

.conteudo{
  padding: 5% 5%;
}

.pdg{
  padding: 3%;
  color: #fcfcfc;
  margin-bottom: 5%;

  background: url('../images/timeline.jpg') no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
}

.pdg h2{
  padding-bottom: 2%;

}

.img-perfil{
  width: 220px;
}

.img-perfil:hover{
  background: #fcfcfc;
}

/*.timeline{
  background: url('../images/back-logado.png') no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
}*/
.btn-send {
  background: #E5001C;
  color: #fcfcfc;
  border-radius: 0;
}

.comments{
  display: none;
  padding-top: 5%;
}

.log{
  padding: 80px 0 60px 0;
}

.ipts{
  background: none;
  border: none;
  color: #fcfcfc;
  font-size: 16px;
}

.lbl{
  color: #5f5f5f;
  text-transform: uppercase;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.busca input:focus{
  outline-style: none;
}

.busca input{
  width: 35%;
  background: none;
  border: none;
  border-bottom: 1px solid #5f5f5f;
  color: #fcfcfc;
  margin-right: -20px;
}

.busca span{
  color: #AE0216;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: none;
  color: #E5001C;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 0;
  border-bottom: 2px solid #5f5f5f;
}

.nav-pills>li>a {
  background: none;
  border-radius: 0;
  color: #5F5F5F;
  text-transform: uppercase;
  font-size: 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: none;
}

.nav>li>a:focus, .nav>li>a:hover{
  background: none;
}

.img-busca{
  width: 150px;
}

#atletas a{
  color: #fcfcfc;
}

#atletas a:hover, #atletas a:focus{
  color: #E5001C;
}

#resultado-busca{
  display: none;
}

.circle-avatar{
  max-width: 100%;
  width: 220px;
  height: 220px;
  display: block;
  border-radius: 50%;
  background-position-y: center !important;
  background-position-x: center !important;
  background-size: cover !important;
}

#datepicker div{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
